$light-color: #BADA55;
$dark-color: #501ACE;
$alternative-font-family: Arial, Helvetica, sans-serif;

.box {
    background-color: $light-color;
    color: $dark-color;
    font-family: $alternative-font-family;
}

.circle {
    border: 1px $light-color solid;
    background-color: $dark-color;
}

.trapazoid {
    background-color: $dark-color;
    color: $light-color;
    font-family: $alternative-font-family;
}

.trapazoid:focus {
    outline: $light-color;
}