// Booleans
$show: true;
$visible: false;

// Numbers (units optional)
$corner: 5px;
$opacity: 0.8;

// Colors 
$base-color: #EEE;
$border-color: #ABC123;
$font-color: rgb(121, 56, 8);

// Strings (quotes optional) 
$headings: 'Times New Roman';
$bad-headings: "Comic Sans";
$base-font: Helvetica;

// Lists 
$team-awesome: chris, ben, eric, mark, greg, roger;
$padding: 10px 0 15px;

// null 
$this-is-null: null;